/*font fam for show*/
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

/*setting for calculator html*/
.cal-container {
    margin: 1rem auto;
    width: fit-content;
    padding: 0.5rem;
    border: 3px solid #000;
    border-radius: 20px;
    background-color: aliceblue;
}

/*จอแสดงตัวเลข-ผลลัพธ์*/
.screen {
    border: 2px solid #c2c2c2;
    border-radius: 15px;
    text-align: right;
    padding: 0.5rem;
    background-color: aliceblue;
    margin-bottom: 0.5rem;
}

/*ปุ่มตัวเลขและoperator*/
.cal-btn {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 0.4rem;
    margin: 0.175rem 0.1rem;
}

/*color button*/
.cal-btn-equal {
    background-color: rgb(125, 176, 231);
    color: white;
}
.cal-btn-orenge {
    background-color: rgb(247, 160, 78);
    color: white;
}

.cal-btn-green {
    background-color: rgb(96, 200, 131);
    color: white;
    cursor: pointer;
}

.cal-btn-red {
    background-color: rgb(255, 88, 88);
    color: white;
    cursor: pointer;
}